section.contact-scr
    .container
        .contact-scr__shadow-wrapper
            .contact-scr__wrapper
                .contact-scr__main-title
                    | Welcome App Vesto!
                .contact-scr__form-container
                    label(for='name').contact-scr__text-field
                       span First Name*
                       input(type="text" name="name" id="name" placeholder='Add your Name here')
                    label(for='email').contact-scr__text-field
                        span E-Mail Address*
                        input(type="email" name="email" id="email" placeholder='john.doe@internet.com')
                .contact-scr__form-nav
                    label.contact-scr__upload-btn
                        input(type="file" name="file")
                        i.icon.icon__upload
                        span Upload summary
                    button.button.button__send
                        span Send

            .contact-scr__user-wrapper
                .contact-scr__user-card
                    .contact-scr__user-position
                        | HR Manager
                    .contact-scr__user-name
                        i.icon.icon__user
                        span Anastasia Naumenko
                    .contact-scr__user-data
                        a(href="tel:+380979799797").contact-scr__user-number
                            i.icon.icon__phone
                            span +38(097) 979 9797
                        a(href="mailto:anastasia@appvesto.com").contact-scr__user-email
                            i.icon.icon__email
                            span anastasia@appvesto.com
                    .contact-scr__description
                        .contact-scr__desc-title
                            | Wait your resume if you:
                        ul.contact-scr__desc-list
                            li.contact-scr__desc-item
                                | - Experience in sales of IT products from 1 year
                            li.contact-scr__desc-item
                                | - Experience in negotiating and closing transactions
                            li.contact-scr__desc-item
                                | - Ability to work on the result and show it in numbers
                            li.contact-scr__desc-item
                                | - Good memory and quick learning
                            li.contact-scr__desc-item
                                | - Energy in your voice and fire in your eyes!



