section.main-scr
    .container
        .main-scr__wrapper
            .main-scr__title
                | JOIN OUR TEAM
            .main-scr__description
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
            .main-scr__input
                label
                    input(type="email" placeholder='Enter your email adress')
                    button.button
                        | Join Now
        .main-scr__image-wrapper
            img(src='./static/images/work-pic.jpg')