section.offer-scr
    .container
        .offer-scr__main-title
            | Current vacancies
    .offer-scr__filter-wrapper
        .container
            .offer-scr__specs-dropdown
                v-select(:items="offerTypes" menu-props="offset-y" item-text='text' v-model="offerValue").select__dropdown
            .offer-scr__level-wrapper
                .offer-scr__filter-btn
                    i.icon.icon__filter
                .offer-scr__specs-level
                    label(v-for="level in levels").offer-scr__radio-block
                        input(type="radio" :value="level.value" v-model="levelValue")
                        span {{level.text}}
                        .check
    .offer-scr__result-wrapper
        .container
            .offer-scr__content-wrapper
                .offer-scr__accordeon-block(v-for="(offer, i) in filteredOffers" :key="i")
                    .offer-scr__accordeon-header
                        .offer-scr__accordeon-title
                            i.icon.icon__arrow
                            p {{ offer.title }}
                    .offer-scr__accordeon-body
                        .offer-scr__accordeon-inner
                            .offer-scr__description
                                .offer-scr__desc-title
                                    | Vacancy description
                                .offer-scr__desc-text
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            .offer-scr__contact-block
                                a(href="tel:+380979799797").offer-scr__contact-link
                                    i.icon.icon__phone
                                    span +38(097) 979 9797
                                button.button.button__send
                                    span Send summary
            .offer-scr__more-offers
                button.button.button__hollow(@click="toggleVacancies")
                    | View all vacancies