@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/vuetify";

html {
  font-size: $base-font-size;
  height: 100%;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  font-weight: $regular;

  &.overflow {
    overflow: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &::-webkit-scrollbar {
    width: .75em;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  &::-webkit-scrollbar-thumb {
    background: $orange-grad;
    outline: 1px solid slategrey;
  }
}

*,
*::before,
*::after { box-sizing: border-box; }

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd { margin: 0; }

a:not([class]) { text-decoration-skip-ink: auto; }

img {
  max-width: 100%;
  //width: 100%;
  display: block;
}

input,
button,
textarea,
select { font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.content { 
  flex: 1 0 auto;
  padding: 51px 0 60px;
  @include mediaDesktop($w1280) {
    padding: 104px 0 60px;
  }
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.container {
  width: 100%;
  max-width: 1290px;
  margin-right: auto;
  margin-left: auto;
  display: inherit;
  flex-flow: inherit;
  align-items: inherit;
  justify-content: inherit;
  padding: 0 15px;
  @include mediaDesktop($w375) {
    padding: 0 20px;
  }
  @include mediaDesktop($w768) {
    padding: 0 50px;
  }
  @include mediaDesktop($w1366) {
    //padding: 0 75px;
    padding: 0;
  }
}

.selectHide {
  display: none;
}

//Модули
@import "modules/modules";

/////Main Styles Import/////
@import "pages/career/main-screen";
@import "pages/career/offer-screen";
@import "pages/career/contact-screen";
