header#header.header
    .header__burger-btn
        img(src="../static/images/icons/burger.svg")
    .header__burger-content
        .header__main-logo
            a(href="index.html").header__logo-link
                img(src="../static/images/icons/logo.svg").header__desctop-image
                img(src="../static/images/icons/logo-mobile.svg").header__mobile-image
        .header__nav-container
            ul.header__nav-list
                li.header__nav-item
                    a(href="#").header__nav-link
                        | Our work
                li.header__nav-item
                    a(href="#").header__nav-link
                        | About us
                li.header__nav-item
                    a(href="#").header__nav-link
                        | Our technology
                li.header__nav-item
                    a(href="#").header__nav-link
                        | Contacts
                li.header__nav-item
                    a(href="#").header__nav-link
                        | Career
            .header__dropdown-container
                v-select(:items="languages" menu-props="offset-y" item-text='text' v-model="language").header__lang-block




        .header__cross-btn