.footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding: 24px 24px 34px;
  background-color: $l-black;
  color: $white;
  @include mediaDesktop($w1024) {
    justify-content: space-between;
    flex-flow: row nowrap;
  }
  @include mediaDesktop($w1366) {
    padding: 50px 75px 49px;
  }

  &__breadcrumbs-list {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 40px;
    @include mediaDesktop($w1024) {
      display: none;
    }
  }

  &__breadcrumbs-item {
    padding-right: 24px;
    position: relative;
    font-weight: $light;

    &:before {
      content: '>';
      position: absolute;
      right: 8px;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }

    &:last-child {
      padding-right: 0;
      font-weight: $medium;
      pointer-events: none;
      &:before {
        content: none;
      }
    }
  }

  &__breadcrumbs-link {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -2px;
      background: $white;
      transform-origin: right center;
      transform: scaleX(0);
      transition: transform 0.6s cubic-bezier(0.4, 0, 0, 1);
    }

    &:hover {
      &:after {
        transform: scaleX(1);
        transform-origin: center left;
      }
    }
  }


  &__nav-list, &__contact-container {
    display: none;
    flex-flow: column nowrap;
    align-items: flex-start;
    @include mediaDesktop($w1024) {
      display: flex;
    }
  }
  &__nav-item {
    margin-bottom: 15px;
    @include mediaDesktop($w1366) {
      margin-bottom: 24px;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }
  &__nav-link {
    font-size: 18px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -1px;
      background: $white;
      transform-origin: right center;
      transform: scaleX(0);
      transition: transform 0.6s cubic-bezier(0.4, 0, 0, 1);
    }

    &:hover {
      &:after {
        transform: scaleX(1);
        transform-origin: center left;
      }
    }
  }

  &__center-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
  }
  &__logo {
    margin-bottom: 20px;
    max-width: 120px;
    @include mediaDesktop($w1024) {
      max-width: 100%;
    }
    @include mediaDesktop($w1280) {
      margin-bottom: 34px;
    }
  }

  &__info-container {
    span {
      font-weight: $bold;
      font-size: 12px;

    }
  }
  &__social-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 12px;
  }
  &__social-item {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }

    .icon {
      width: 24px;
      height: 24px;
      &__dribble {
        background-image: url('../images/icons/dribble.svg');
      }
      &__facebook {
        background-image: url('../images/icons/facebook.svg');
      }
      &__behance {
        background-image: url('../images/icons/behance.svg');
      }
      &__linkedin {
        background-image: url('../images/icons/linkedin.svg');
      }
    }
  }
  &__social-link {

    svg {
      width: 36px;
      height: 36px;
      @include mediaDesktop($w1024) {
        width: auto;
        height: auto;
      }

      path {
        transition: all .4s ease;
      }
    }

    &:hover {
      svg path{
        fill: $orange;
      }
    }
  }
  &__contact-title {
    font-size: 24px;
    margin-bottom: 8px;
  }
  &__contact-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  &__contact-item {
    margin-bottom: 12px;

    .static {
      margin-bottom: 5px;
      font-size: 12px;
      color: rgba($white, .5);
    }

    .info {
      font-size: 14px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -1px;
        background: $white;
        transform-origin: right center;
        transform: scaleX(0);
        transition: transform 0.6s cubic-bezier(0.4, 0, 0, 1);
      }

      &:hover {
        &:after {
          transform: scaleX(1);
          transform-origin: center left;
        }
      }

    }
  }

}