extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include pages/career/main-screen

	include pages/career/offer-screen

	include pages/career/contact-screen





