@font-face {
    font-family: 'Bunken Tech Sans Pro';
    src: url('../fonts/BunkenTechSansPro-Bold.eot');
    src: local('Bunken Tech Sans Pro Bold'), local('BunkenTechSansPro-Bold'),
        url('../fonts/BunkenTechSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BunkenTechSansPro-Bold.woff2') format('woff2'),
        url('../fonts/BunkenTechSansPro-Bold.woff') format('woff'),
        url('../fonts/BunkenTechSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bunken Tech Sans Pro Book';
    src: url('../fonts/BunkenTechSansPro-Book.eot');
    src: local('Bunken Tech Sans Pro Book'), local('BunkenTechSansPro-Book'),
        url('../fonts/BunkenTechSansPro-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BunkenTechSansPro-Book.woff2') format('woff2'),
        url('../fonts/BunkenTechSansPro-Book.woff') format('woff'),
        url('../fonts/BunkenTechSansPro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bunken Tech Sans Pro';
    src: url('../fonts/BunkenTechSansPro-BoldIt.eot');
    src: local('Bunken Tech Sans Pro Bold Italic'), local('BunkenTechSansPro-BoldIt'),
        url('../fonts/BunkenTechSansPro-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BunkenTechSansPro-BoldIt.woff2') format('woff2'),
        url('../fonts/BunkenTechSansPro-BoldIt.woff') format('woff'),
        url('../fonts/BunkenTechSansPro-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Bunken Tech Sans Pro SeBd';
    src: url('../fonts/BunkenTechSansPro-SeBdIt.eot');
    src: local('Bunken Tech Sans Pro SeBd Italic'), local('BunkenTechSansPro-SeBdIt'),
        url('../fonts/BunkenTechSansPro-SeBdIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BunkenTechSansPro-SeBdIt.woff2') format('woff2'),
        url('../fonts/BunkenTechSansPro-SeBdIt.woff') format('woff'),
        url('../fonts/BunkenTechSansPro-SeBdIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Bunken Tech Sans Pro Book';
    src: url('../fonts/BunkenTechSansPro-BookIt.eot');
    src: local('Bunken Tech Sans Pro Book Italic'), local('BunkenTechSansPro-BookIt'),
        url('../fonts/BunkenTechSansPro-BookIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BunkenTechSansPro-BookIt.woff2') format('woff2'),
        url('../fonts/BunkenTechSansPro-BookIt.woff') format('woff'),
        url('../fonts/BunkenTechSansPro-BookIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bunken Tech Sans Pro ExBd';
    src: url('../fonts/BunkenTechSansPro-ExBdIt.eot');
    src: local('Bunken Tech Sans Pro ExBd Italic'), local('BunkenTechSansPro-ExBdIt'),
        url('../fonts/BunkenTechSansPro-ExBdIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BunkenTechSansPro-ExBdIt.woff2') format('woff2'),
        url('../fonts/BunkenTechSansPro-ExBdIt.woff') format('woff'),
        url('../fonts/BunkenTechSansPro-ExBdIt.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Bunken Tech Sans Pro Med';
    src: url('../fonts/BunkenTechSansPro-Med.eot');
    src: local('Bunken Tech Sans Pro Med'), local('BunkenTechSansPro-Med'),
        url('../fonts/BunkenTechSansPro-Med.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BunkenTechSansPro-Med.woff2') format('woff2'),
        url('../fonts/BunkenTechSansPro-Med.woff') format('woff'),
        url('../fonts/BunkenTechSansPro-Med.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bunken Tech Sans Pro Ligh';
    src: url('../fonts/BunkenTechSansPro-LightIt.eot');
    src: local('Bunken Tech Sans Pro Light Italic'), local('BunkenTechSansPro-LightIt'),
        url('../fonts/BunkenTechSansPro-LightIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BunkenTechSansPro-LightIt.woff2') format('woff2'),
        url('../fonts/BunkenTechSansPro-LightIt.woff') format('woff'),
        url('../fonts/BunkenTechSansPro-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Bunken Tech Sans Pro ExBd';
    src: url('../fonts/BunkenTechSansPro-ExBd.eot');
    src: local('Bunken Tech Sans Pro ExBd'), local('BunkenTechSansPro-ExBd'),
        url('../fonts/BunkenTechSansPro-ExBd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BunkenTechSansPro-ExBd.woff2') format('woff2'),
        url('../fonts/BunkenTechSansPro-ExBd.woff') format('woff'),
        url('../fonts/BunkenTechSansPro-ExBd.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Bunken Tech Sans Pro SeBd';
    src: url('../fonts/BunkenTechSansPro-SeBd.eot');
    src: local('Bunken Tech Sans Pro SeBd'), local('BunkenTechSansPro-SeBd'),
        url('../fonts/BunkenTechSansPro-SeBd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BunkenTechSansPro-SeBd.woff2') format('woff2'),
        url('../fonts/BunkenTechSansPro-SeBd.woff') format('woff'),
        url('../fonts/BunkenTechSansPro-SeBd.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Bunken Tech Sans Pro Med';
    src: url('../fonts/BunkenTechSansPro-MedIt.eot');
    src: local('Bunken Tech Sans Pro Med Italic'), local('BunkenTechSansPro-MedIt'),
        url('../fonts/BunkenTechSansPro-MedIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BunkenTechSansPro-MedIt.woff2') format('woff2'),
        url('../fonts/BunkenTechSansPro-MedIt.woff') format('woff'),
        url('../fonts/BunkenTechSansPro-MedIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Bunken Tech Sans Pro Ligh';
    src: url('../fonts/BunkenTechSansPro-Light.eot');
    src: local('Bunken Tech Sans Pro Light'), local('BunkenTechSansPro-Light'),
        url('../fonts/BunkenTechSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BunkenTechSansPro-Light.woff2') format('woff2'),
        url('../fonts/BunkenTechSansPro-Light.woff') format('woff'),
        url('../fonts/BunkenTechSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

