// Colors
$white: #ffffff;
$black: #000000;
$gray: #A4A4AE;
$orange: #FE7000;
$orange-grad: linear-gradient(90deg, #FF1500 0%, #FE7000 100%);

$l-black: #121212;
$l-gray: #F8F8FC;

$d-black: #1B1B25;


// Sizes
$base-font-size: 16px;

// Font-weights
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-bold: 900;

// Стили для задания fonts-weight по классу любому эллементу
.thin {
  font-weight: $thin;
}
.extra-light {
  font-weight: $extra-light;
}
.light {
  font-weight: $light;
}
.regular {
  font-weight: $regular;
}
.medium {
  font-weight: $medium ;
}
.semi-bold {
  font-weight: $semi-bold;
}
.bold {
  font-weight: $bold ;
}
.extra-bold {
  font-weight: $extra-bold;
}
.black-bold {
  font-weight: $black-bold;
}

$content-size: 1024px;

$w1440: 1440px;
$w1366: 1366px;
$w1280: 1280px;
$w1200: 1200px;
$w1024: 1024px;

$w768: 768px;
$w425: 425px;
$w375: 375px;
$w320: 320px;

@mixin mediaDesktop($width) {
  @media only screen and (min-width: #{$width}) {
    @content;
  }
}

@mixin mediaDesktopTablet($width1, $width2) {
  @media only screen and (min-width: #{$width1}) and (max-width: #{$width2}) {
    @content;
  }
}

@mixin mediaMobileHorizontal($width, $height) {
  @media only screen and (max-width: #{$width}) and (max-height: #{$height}) and (orientation: landscape) {
    @content;
  }
}

// Fonts