.button {
  padding: 14px 10px 15px;
  background: linear-gradient(90deg, #FF1500 0%, #FE7000 100%);
  border-radius: 100px;
  max-width: 177px;
  width: 100%;
  font-size: 14px;
  color: $white;
  font-weight: $bold;
  font-family: 'Signika', sans-serif;
  cursor: pointer;
  transition: all .3s ease-in-out;
  position: relative;

  @include mediaDesktop($w1024) {
    font-size: 18px;
  }

  &__hollow {
    padding: 13px 10px;
    max-width: 157px;
    font-size: 14px;
    background: transparent;
    border: 1px solid $orange;
    background: $orange-grad;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__send {
    max-width: 187px;
    box-shadow: inset 0 0 0 3px $white, 0 0 0 1px #FE7000;

    span {
      position: relative;
      z-index: 2;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;
      height: 70%;
      background: #940C00;
      opacity: 0.55;
      filter: blur(25px);
      border-radius: 100px;
      z-index: 0;
    }
  }
}
