.contact-scr {
  .container {
    padding: 0 10px;
    @include mediaDesktop($w375) {
      padding: 0 20px;
    }
    @include mediaDesktop($w768) {
      padding: 0 50px;
    }
    @include mediaDesktop($w1366) {
      padding: 0;
    }
  }

  &__shadow-wrapper {
    display: flex;
    flex-flow: column nowrap;
    padding: 35px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    @include mediaDesktop($w1024) {
      flex-flow: row nowrap;
      justify-content: space-between;
      box-shadow: none;
      border-radius: 0;
      padding: 35px 0;
    }

  }
  &__wrapper {
    padding: 0 10px;
    margin-bottom: 40px;
    width: 100%;
    @include mediaDesktop($w1024) {
      margin-right: 20px;
      max-width: 550px;
    }
    @include mediaDesktop($w1280) {
      margin-right: 0;
    }
  }
  &__user-wrapper {
    border-radius: 6px;
    max-width: 400px;
    @include mediaDesktop($w425) {
      margin: 0 auto;
    }
    @include mediaDesktop($w1024) {
      padding: 30px 32px 39px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 520px;
    }
  }
  &__main-title {
    margin-bottom: 18px;
    font-family: 'Bunken Tech Sans Pro', sans-serif;
    font-size: 28px;
    font-weight: $semi-bold;
    color: $d-black;
    text-transform: uppercase;
    @include mediaDesktop($w1024) {
      font-size: 34px;
    }
    @include mediaDesktop($w1280) {
      font-size: 45px;
    }
  }
  &__form-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-bottom: 32px;
  }
  &__text-field {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      color: $gray;
      font-size: 12px;
    }

    input {
      width: 100%;
      margin-top: 6px;
      padding: 8px 15px;
      background: $l-gray;
      border-radius: 6px;
      border: none;
      font-size: 16px;
    }
  }

  &__form-nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @include mediaDesktop($w768) {
      flex-flow: row nowrap;
      justify-content: space-between;

    }

    .button__send {
      max-width: 113px;
    }
  }
  &__upload-btn {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 33px;
    cursor: pointer;
    @include mediaDesktop($w768) {
      margin-bottom: 0;
    }

    input {
      display: none;
    }

    span {
      font-size: 16px;
      font-weight: $bold;
      background: $orange-grad;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .icon {
      width: 16px;
      height: 17px;
      margin-right: 15px;
      &__upload {
        background-image: url("../images/icons/upload.svg");
      }
    }
  }
  &__user-card {}

  &__user-position {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: $medium;
    color: $l-black;
  }

  &__user-name {
    font-weight: $bold;
    font-size: 26px;
    color: $l-black;
    margin-bottom: 17px;

    .icon {
      //width: 17px;
      //height: 20px;
      width: 24px;
      height: 24px;
      margin-right: 6px;
      &__user {
        background-image: url("../images/icons/user.svg");
      }
    }
  }

  &__user-data {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding-left: 27px;
    margin-bottom: 25px;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #151515;
  }

  &__user-number {
    margin-bottom: 15px;
  }

  &__user-number, &__user-email {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    .icon {
      width: 14px;
      height: 14px;
      margin-right: 5px;
      &__phone {
        background-image: url("../images/icons/phone.svg");
      }
      &__email {
        background-image: url("../images/icons/email.svg");
      }
    }
  }
  &__description {
    color: $l-black;
  }
  &__desc-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: $medium;
  }
  &__desc-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  &__desc-item {
    margin-bottom: 5px;
    font-weight: $light;
    font-size: 14px;
    &:last-child {
      margin-bottom: 0;
    }
  }

}