.main-scr {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 60px;
  @include mediaDesktop($w1280) {
    flex-flow: row nowrap;
    padding: 0 0 109px;
  }

  &__wrapper {
    width: 100%;
    margin-bottom: 32px;
    @include mediaDesktop($w1280) {
      width: 42%;
      margin-bottom: 0;
    }
    @include mediaDesktop($w1366) {
      width: 46%;
    }
  }

  &__title {
    margin-bottom: 17px;
    font-family: 'Bunken Tech Sans Pro', sans-serif;
    font-size: 35px;
    letter-spacing: -0.03em;
    font-weight: $semi-bold;
    @include mediaDesktop($w375) {
      font-size: 42px;
    }
    @include mediaDesktop($w768) {
      font-size: 50px;
    }
    @include mediaDesktop($w1366) {
      margin-bottom: 24px;
      font-size: 70px;
    }
  }

  &__description {
    margin-bottom: 16px;
    font-size: 14px;
    color: $l-black;
    line-height: 26px;
    @include mediaDesktop($w768) {
      margin-bottom: 24px;
      font-size: 20px;
    }
  }

  &__input {
      .button {
        max-width: 124px;
        font-family: 'Roboto', sans-serif;
      }
  }

  label {
    border: 1px solid #EAEAEA;
    border-radius: 100px;
    width: 100%;
    max-width: 414px;
    padding: 8px 9px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    @include mediaDesktop($w768) {
      padding: 8px 6px 8px 24px;
    }
  }

  input {
    outline: none;
    border: none;
    font-size: 14px;
    @include mediaDesktop($w768) {
      font-size: 16px;
    }
  }

  &__image-wrapper {

  }
}