.offer-scr {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 0 19px;
  margin-bottom: 33px;
  @include mediaDesktop($w768) {
    padding: 0;
  }

  .container {
    padding: 0;

    @include mediaDesktop($w768) {
      padding: 0 50px;
    }
    @include mediaDesktop($w1440) {
      padding: 0;
    }
  }

  &__main-title {
    margin-bottom: 28px;
    font-family: 'Bunken Tech Sans Pro', sans-serif;
    font-weight: $semi-bold;
    font-size: 28px;
    text-transform: uppercase;
    @include mediaDesktop($w768) {
      font-size: 32px;
    }
    @include mediaDesktop($w1280) {
      margin-bottom: 42px;
      font-size: 45px;
    }
  }
  &__filter-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 23px 0 20px;
    @include mediaDesktop($w768) {
      padding: 23px 0 20px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.02), 0px 10px 20px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
    }
  }

  &__specs-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 250px;
    max-height: 50px;

    .select__dropdown {
      &:after {
        //content: '';
        position: absolute;
        width: 11px;
        height: 5px;
        background-image: url("../images/icons/arrow-down.svg");
        background-repeat: no-repeat;
        background-size: contain;
        right: 22px;
        top: 0;
        bottom: 0;
        left: unset;
        margin: auto 0;
      }
    }

    .icon {
      width: 15px;
      height: 5px;
      &__arrow-down {
        background-image: url("../images/icons/arrow-down.svg");
      }
    }
  }
  &__dropdown-content {
    display: none;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    //box-shadow: 0px 17px 16px 0px rgba(0,0,0,0.2);
    filter: drop-shadow(0px 60px 40px rgba(0, 0, 0, 0.2));
    background-color: $l-gray;
    z-index: 1;
    transition: all ease .3s;

    &.open-dropdown {
      display: flex;
    }

    a {
      padding: 12px 16px;
      width: 100%;

      &:hover {
        background-color: #ddd;
      }
    }
  }

  &__level-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    max-width: 190px;
    width: 100%;
    position: relative;
    @include mediaDesktop($w1024) {
      max-width: 620px;
    }
  }
  &__filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: $l-gray;
    cursor: pointer;
    border-radius: 6px;
    @include mediaDesktop($w1024) {
      display: none;
    }

    .icon {
      width: 14px;
      height: 16px;
      &__filter {
        background-image: url("../images/icons/filter.svg");
      }
    }
  }
  &__specs-level {
    display: none;
    flex-flow: column nowrap;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    top: 50px;
    right: 0;
    background: $white;
    border-radius: 6px;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
    @include mediaDesktop($w1024) {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      position: static;
      background: transparent;
      filter: none;
      width: 100%;
    }

    &.open-filter {
      display: flex;
      z-index: 2;
    }
  }
  &__radio-block {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: flex-end;
    padding: 13px 16px 14px;
    cursor: pointer;
    width: 100%;
    &:hover {
      background: #F3F3F7;
    }

    @include mediaDesktop($w1024) {
      padding: 0;
      margin-right: 35px;
      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background: transparent;
      }
    }
    @include mediaDesktop($w1280) {
      margin-right: 76px;
    }

    input[type=radio] {
      display: none;

      &:checked ~ .check {
        border: 7px solid $orange;
      }
    }

    .check {
      display: block;
      position: relative;
      border-radius: 50%;
      height: 24px;
      width: 24px;
      border: 2px solid $orange;
      margin-right: 5px;
      flex-shrink: 0;
      transition: border ease .25s;
    }

    label {
      color: #1B1B25;
      font-size: 16px;
      cursor: pointer;
    }
  }


  &__result-wrapper {
    width: 100%;

  }

  &__content-wrapper {
    border-top: 1px solid #E9E9ED;
    border-bottom: 2px solid $orange;
    //max-height: 299px;
    //overflow-y: hidden;
    transition: height .3s ease-in-out;
    //overflow: -moz-scrollbars-none;
    //-ms-overflow-style: none;
    //&::-webkit-scrollbar {
    //  display: none;
    //}
    @include mediaDesktop($w768) {
      margin-bottom: 37px;
    }

    &.open-content {
      max-height: 100%;
    }
  }

  &__accordeon-block {
    display: flex;
    flex-flow: column nowrap;
    border-bottom: 1px solid #E9E9ED;

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }

    //&.open-content {
    //  border-bottom: 1px solid $orange;
    //}

    &.visited {
      background: $l-gray;
      .offer-scr__accordeon-title {
        font-weight: $bold;
        background: $orange-grad;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &__accordeon-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 24px 17px 23px;
    transition: all .25s ease-in-out;

    &:hover {
      background: $l-gray;
    }
  }

  &__accordeon-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 22px;
    color: $d-black;
    cursor: pointer;

    &.open-content {
      font-weight: $bold;
      color: $orange;
      .icon__arrow {
        transform: rotate(180deg);
      }
    }

    .icon {
      width: 15px;
      height: 15px;
      margin-right: 17px;
      transition: .25s;
      &__arrow {
        background-image: url("../images/icons/arrow-down.svg");
      }
    }
  }

  &__accordeon-body {
    display: none;
    padding-left: 17px;
    margin-bottom: 15px;
    font-size: 14px;
    color: $gray;
    @include mediaDesktop($w768) {
      padding-left: 50px;
    }

    &.open-content {
      display: block;
    }
  }
  &__accordeon-inner {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @include mediaDesktop($w1024) {
      flex-flow: row nowrap;
      align-items: flex-end;
      justify-content: space-between;
    }
    @include mediaDesktop($w1280) {
      justify-content: flex-start;
    }
  }

  &__description {
    max-width: 690px;
    width: 100%;
    margin-bottom: 24px;
    @include mediaDesktop($w768) {
      width: 70%;
      margin-right: 60px;
    }
    @include mediaDesktop($w1280) {
      width: 100%;
      margin-right: 140px;
    }
  }
  &__desc-title {
    color: $black;
    margin-bottom: 15px;
    font-weight: $medium;
    font-size: 18px;
    letter-spacing: 0.04em;
  }
  &__desc-text {
    font-size: 16px;
    line-height: 28px;
    color: $d-black
  }
  &__contact-block {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 190px;
    width: 100%;
    font-size: 16px;

    .icon {
      width: 22px;
      height: 22px;
      margin-right: 10px;
      &__phone {
        background-image: url("../images/icons/phone.svg");
      }
    }
  }
  &__contact-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 25px;
    color: #151515;
  }

  &__more-offers {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    @include mediaDesktop($w768) {
      display: flex;
    }
  }

}