.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 25px 20px 16px;
  background: $l-black;
  color: $white;
  font-size: 12px;
  position: relative;
  @include mediaDesktop($w768) {
    justify-content: space-between;
  }
  @include mediaDesktop($w1280) {
    padding: 16px 78px 17px;
  }

  &__burger-btn {
    display: block;
    position: absolute;
    left: 20px;
    cursor: pointer;
    z-index: 2;
    @include mediaDesktop($w768) {
      display: none;
    }

    &.open-burger {
      display: none;
    }
  }

  &__burger-content {
    width: inherit;
    height: inherit;
    display: inherit;
    flex-flow: inherit;
    align-items: inherit;
    justify-content: inherit;
    position: relative;
  }

  &__cross-btn {
    display: none;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      width: 20px;
      height: 1px;
      background-color: #C4C4C4;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    &:after {
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(-45deg);
    }
  }

  &__main-logo {
    max-width: 120px;
    @include mediaDesktop($w1024) {
      max-width: 150px;
    }
    @include mediaDesktop($w1366) {
      max-width: 100%;
    }
  }

  &__desctop-image {
    display: none;
    @include mediaDesktop($w768) {
      display: block;
    }
  }

  &__mobile-image {
    display: block;
    @include mediaDesktop($w768) {
      display: none;
    }
  }

  &__nav-container {
    display: none;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    @include mediaDesktop($w768) {
      display: flex;
      width: 70%;
    }
    @include mediaDesktop($w1024) {
      width: 80%;
    }
  }

  &__nav-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__nav-item {
    &:last-child{
      margin-right: 0;
    }
    @include mediaDesktop($w768) {
      margin-right: 20px;
    }
    @include mediaDesktop($w1280) {
      margin-right: 50px;
    }
  }

  &__nav-link {
    font-size: 14px;
    color: rgba($white, .7);
    transition: all .3s ease-in;
    @include mediaDesktop($w1024) {
      font-size: 16px;
    }
    @include mediaDesktop($w1280) {
      font-size: 18px;
    }

    &:hover {
      color: $white;
    }
  }

  &__dropdown-container {
    max-width: 85px;
    width: 100%;
  }

  &__lang-block {
    .v-input__slot {
      background: transparent;
      padding: 0;
      color: $white;
    }
    .v-input__control {
      height: 23px;
    }
    .v-select__selection--comma {
      margin: 0;
    }
    .v-icon.v-icon {
      background-image: url("../images/icons/arrow-down-white.svg");
    }
  }
  &__selected {
    background-color: #080D0E;
    border-radius: 6px;
    border: 1px solid #858586;
    color: #ffffff;
    padding-left: 8px;
    cursor: pointer;
    user-select: none;

    &.open {
      border: 1px solid #CE9B2C;
      border-radius: 6px 6px 0px 0px;
    }

    &:after {
      position: absolute;
      content: "";
      top: 22px;
      right: 10px;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-color: #fff transparent transparent transparent;
    }
  }
  &__items {
    color: #ffffff;
    border-radius: 0px 0px 6px 6px;
    overflow: hidden;
    border-right: 1px solid #CE9B2C;
    border-left: 1px solid #CE9B2C;
    border-bottom: 1px solid #CE9B2C;
    position: absolute;
    background-color: #080D0E;
    left: 0;
    right: 0;
  }
  &__item {
    color: #ffffff;
    padding-left: 8px;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: #B68A28;
    }
  }

  &__lang-block {

  }

  &.burger-open {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9999;
    flex-flow: column nowrap;
    justify-content: flex-start;

    .header__main-logo {
      margin-bottom: 35px;
    }

    .header__nav-list {
      flex-flow: column nowrap;
      margin-bottom: 25px;
    }

    .header__nav-container {
      display: flex;
      flex-flow: column nowrap;
    }

    .header__nav-item {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .header__nav-link {
      font-size: 18px;
    }

    .header__cross-btn {
      display: block;
    }
  }

}