svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0ZM5.76081 9.93888H8.48028V18.1097H5.76081V9.93888ZM8.65941 7.41135C8.64176 6.6102 8.06885 6 7.13854 6C6.20823 6 5.60002 6.6102 5.60002 7.41135C5.60002 8.1959 6.19025 8.82367 7.10324 8.82367H7.12062C8.06885 8.82367 8.65941 8.1959 8.65941 7.41135ZM15.1566 9.74704C16.9461 9.74704 18.2877 10.9151 18.2877 13.4248L18.2876 18.1098H15.5682V13.7384C15.5682 12.6403 15.1747 11.8911 14.1903 11.8911C13.439 11.8911 12.9915 12.3962 12.7949 12.8841C12.723 13.0589 12.7054 13.3025 12.7054 13.5467V18.11H9.98557C9.98557 18.11 10.0214 10.7058 9.98557 9.93913H12.7054V11.0965C13.0663 10.5401 13.7127 9.74704 15.1566 9.74704Z' fill='white')
