footer.footer
    ul.footer__breadcrumbs-list
        li.footer__breadcrumbs-item
            a(href="index.html").footer__breadcrumbs-link
                img(src="../static/images/icons/logo-sm.svg")
        li.footer__breadcrumbs-item
            a(href="#").footer__breadcrumbs-link
                | Our work
        li.footer__breadcrumbs-item
            a(href="#").footer__breadcrumbs-link
                | Fridge

    ul.footer__nav-list
        li.footer__nav-item
            a(href="#").footer__nav-link
                | Our work
        li.footer__nav-item
            a(href="#").footer__nav-link
                | About us
        li.footer__nav-item
            a(href="#").footer__nav-link
                | Contacts
        li.footer__nav-item
            a(href="#").footer__nav-link
                | Our technology

    .footer__center-info
        img(src="../static/images/icons/logo.svg").footer__logo
        .footer__info-container
            span © 2019 AppVesto
            ul.footer__social-list
                li.footer__social-item
                    a(href="#" target='_blank').footer__social-link
                        include ../../icons/dribble
                li.footer__social-item
                    a(href="#" target='_blank').footer__social-link
                        include ../../icons/facebook
                li.footer__social-item
                    a(href="#" target='_blank').footer__social-link
                        include ../../icons/behance
                li.footer__social-item
                    a(href="#" target='_blank').footer__social-link
                        include ../../icons/linkedin

    .footer__contact-container
        .footer__contact-title
            | Contact
        ul.footer__contact-list
            li.footer__contact-item
                p.static Email
                a(href="mailto:appvesto@gmail.com").info appvesto@gmail.com
            li.footer__contact-item
                p.static Phone
                a(href="tel:+380980659285").info +380 98 065 9285
